@import "./src/style/mixins";

.wrapper {
  user-select: none;
  @include wrapperPages;
  @include aloneCenterPosition;
  text-align: center;

  .container_sections {
    width: 95%;
    max-width: 600px;
    height: 85%;
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    grid-gap: 4px;
    background-color: #48474F;
    border-radius: 10px;
    padding: 4px;


    .infoTitle {
      @include aloneCenterPosition;
      background-color: #37363E;
      border-radius: 10px;
      text-transform: uppercase;
      color: var(--color-text);
    }

    .listCategories {
      padding-top: 5px;
      background-color: #37363E;
      border-radius: 10px;
      font-size: 36px;
      font-style: italic;
      color: var(--color-text);
      overflow-y: auto;
    }

    .buttonContainer {
      @include aloneCenterPosition;
      background-color: #37363E;
      border-radius: 10px;
    }
  }

  .buttonTopMargin {
    margin-top: 10px;
  }
}