@import "./src/style/mixins";
.modalAddCat {
  width: 250px;
  padding-top: 20px;
  padding-bottom: 10px;

  .message {
    width: 100%;
    height: 100px;
    @include aloneCenterPosition;
    color: var(--color-text);
    span {
      text-align: center;
      display: block;
      width: 85%;
    }
  }

}
.buttonTopMargin {
  margin-top: 10px;
}