// COLORS
$bg: #37363e;
// $bg_dark: hsla(249, 8%, 17%, 0.949);
// $accent: #27eded;
// $gray_light: #bcbcbc;
// $light: #e5e5e5;
// $border: #66656c;
// $gray: #66656c;
$accent: hsl(266, 66%, 66%);
$red: #fd4343;
$icon: #8b8b88;

// FONTS
$big_text: 16px;
$main_text: 14px;
$small_text: 10px;

// sizes and breakpoints
$phones: 480px;
$tablets: 768px;
$desktops: 960px;
$desktopsL: 1140px;
