.wrapper {
  cursor: pointer;
  height: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: italic;
  margin-bottom: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 14px;

  svg {
    width: 20px;
    height: 20px;
  }
  span {
    text-decoration: none;
    display: block;
    margin-left: 15px;
  }
}