@import "./src/style/mixins";

$widthWrapper: 320px;
.wrapper {
  @include wrapperPages;
  @include aloneCenterPosition;
  text-align: center;

  .container_sections, .container_sections_edit {
    width: 90%;
    max-width: 450px;
    height: 90%;
    max-height: 390px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 4px;
    padding: 5px;
    background-color: var(--border);
    border-radius: 10px;


    .infoTitle {
      user-select: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4px;
      padding: 4px;
      background-color: var(--bg-main);
      border-radius: 10px;
      text-transform: uppercase;
      color: var(--color-text);
      font-size: 12px;

      .itemInfo {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark--back);
        border-radius: 8px;

        span {
          margin-right: 10px;
        }
      }
    }

    .infoCredit {
      position: relative;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;

      background-color: var(--bg-main);
      border-radius: 10px;
      color: var(--color-text);
      text-align: left;
      overflow: auto;

      .itemInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          width: 94%;
          user-select: none;
          margin-bottom: 10px;
        }

        input {
          color: var(--accent);
          width: 90%;
          border: 0;
          border-radius: 6px;
          min-height: 40px;
          background-color: var(--input-background);
          padding: 0 10px;
          font-size: 18px;
          -webkit-appearance: none;
        }
        .input:focus {
          outline: none !important;
        }
      }

      .findContainer {
        position: absolute;
        width: 86%;
        height: fit-content;
        left: 0;
        bottom: 96px;
        background-color: #37363ee6;
        padding: 0 7%;
        max-height: 200px;
        overflow: hidden;
        font-size: 20px;

        span {
          display: block;
        }
      }

      .contentProducts {
        grid-row: 2/4;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .infoFooter {
      @include aloneCenterPosition;
      background-color: var(--bg-main);
      border-radius: 10px;
    }
  }

  .container_sections_edit {
    grid-template-rows: 60px 1fr;

  }
}
