@import "./src/style/mixins";

$widthWrapper: 320px;
.wrapper {
  @include wrapperPages;
  @include aloneCenterPosition;
  text-align: center;

  .container_sections {
    width: 90%;
    max-width: 450px;
    height: 90%;
    max-height: 390px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 4px;
    padding: 5px;
    background-color: var(--border);
    border-radius: 10px;

    .infoTitle {
      @include aloneCenterPosition;
      background-color: var(--bg-main);
      border-radius: 10px;
      text-transform: uppercase;
      color: var(--color-text);

    }

    .infoCredit {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: var(--bg-main);
      border-radius: 10px;
      color: var(--color-text);
      text-align: left;
      overflow: auto;

      span {
        width: 94%;
        user-select: none;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      input {
        color: var(--accent);
        width: 90%;
        border: 0;
        border-radius: 6px;
        min-height: 40px;
        background-color: var(--input-background);
        padding: 0 10px;
        font-size: 18px;
      }

      input {
        -webkit-appearance: none;
      }

      .input:focus {
        outline: none !important;
      }

      .findContainer {
        position: absolute;
        width: 86%;
        height: fit-content;
        left: 0;
        bottom: 96px;
        background-color: #37363ee6;
        padding: 0 7%;
        max-height: 200px;
        overflow: hidden;
        font-size: 20px;

        span {
          display: block;
        }

      }
    }

    .infoFooter {
      @include aloneCenterPosition;
      background-color: var(--bg-main);
      border-radius: 10px;
    }
  }


}

