@import "./src/style/mixins";
.wrapper {
  user-select: none;
  position: relative;
  width: 97%;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--item--bc);
  color: var(--color-text);
  overflow: hidden;
  margin: 0 auto 5px auto;

  .leftTag {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--color-text);
  }

  span {
    margin-left: 20px;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .inputEdit {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: var(--color-text);
    padding-left: 25px;
    z-index: 2;
  }

  .deleteItem, .editItem {
    cursor: pointer;
    @include aloneCenterPosition;
    position: absolute;
    top: 0;
    right: 10px;
    width: 20px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    svg {
      width: 90%;
    }
  }

  .editItem {
    right: 50px;
  }
}

:global(.inputEdit-enter) {
  transform: translateX(calc(var(--width-info) * -1));
}

:global(.inputEdit-enter-active) {
  transform: translateX(-50px);
  transition: transform 500ms linear;
}

:global(.inputEdit-enter-done) {
  transform: translateX(-5px);
}

:global(.inputEdit-exit) {
  transform: translateX(-5px);
}

:global(.inputEdit-exit-active) {
  transform: translateX( calc(var(--width-info) * -1) );
  transition: transform 500ms linear;
}