@import "./src/style/mixins";
.wrapper {
  @include wrapperPages;
  text-align: center;

  .container_sections {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #48474F;
    border-radius: 10px;
    margin: 20px auto;

    .infoTitle {
      @include aloneCenterPosition;
      width: var(--width-info);
      height: 40px;
      margin: 0 auto 10px auto;
      background-color: #37363E;
      border-radius: 10px;
      text-transform: uppercase;
      color: var(--color-text);
    }

    .infoCredit {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: var(--width-info);
      height: 400px;
      margin: 0 auto 10px auto;
      background-color: #37363E;
      border-radius: 10px;
      font-size: 36px;
      font-style: italic;
      color: var(--color-text);

      input {
        @include inputWrapper;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      span {
        @include spanFromInput;
      }
    }
  }
}