@import "./src/style/mixins";
.wrapper {
  @include wrapperPages;
  @include aloneCenterPosition;
  text-align: center;

  .container_sections {
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 540px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 4px;
    padding: 4px;
    background-color: var(--border);
    border-radius: 10px;

    .infoTitle {
      @include aloneCenterPosition;
      background-color: var(--bg-main);
      border-radius: 10px;
      text-transform: uppercase;
      color: var(--color-text);
    }

    .infoCredit {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #37363E;
      border-radius: 10px;
      font-size: 36px;
      font-style: italic;
      color: var(--color-text);
      overflow-y: auto;
      overflow-x: hidden;

      input {
        @include inputWrapper;
        min-height: 40px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      span {
        @include spanFromInput;
      }
    }

    .infoFooter {
      @include aloneCenterPosition;
      background-color: var(--bg-main);
      border-radius: 10px;
    }
  }
}